@model Jericho.MVC.Models.EmployeeViewModel
@{Html.RenderAction("RenderEmployeeGrid");}
@Html.ActionLink("Create", "CreateEmployee", null, new { id = "createEmployee" })
<div id="overlay" class="overlay collapsed">
</div>
<div id="createDialog" class="dialog collapsed">
    <div id="dialog">
    </div>
    <img src="../../Content/themes/base/images/close.png" alt="close" />
</div>
<script type="text/javascript">
    $(function () {

        $(".dialog img").live('click', function () {
            $("#overlay").addClass("collapsed");
            $("#createDialog").addClass("collapsed");
        });
    });

    $("#createEmployee").click(function (event) {
        event.preventDefault();
        var href = $(this).attr('href');

        $.ajax({
            url: href,
            complete: function (data) {
                $("#dialog").html(data.responseText);
            }
        });

        $("#overlay").removeClass("collapsed");
        $("#createDialog").removeClass("collapsed");
    });

</script>
